<div class="container">
    <section class="section--center mdl-grid site-max-width">
        <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white  mdl-shadow--4dp">
            <img alt="" src="../../../assets/images/logo.png">
        </header>
        <mat-card class="mat-card">
            <mat-card-header class="mat-card-header">
                <div class="mat-card-header-text">
                    <mat-card-title class="product-title mat-card-title">
                        <h4 class="centered">An innovative way to search, match and compare results from multiple sources</h4>
                    </mat-card-title>
                    <mat-card-subtitle class="centered mat-card-subtitle">Leveraging the product of many search results</mat-card-subtitle>
                </div>
            </mat-card-header>
            <mat-card-content class="mat-card-content">SearchProd is an intelligent search and matching tool which combines results from 
                multiple different sources and ranks them according to a variety of features, providing accurate relevant results. 
            </mat-card-content>
        </mat-card>
    </section>
    <section class="section--center mdl-grid site-max-width">
        <a class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-button--accent" [routerLink]="['/products/find']">
            <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white  mdl-shadow--4dp"><img
                alt="" src="../../../assets/images/aggr.jpeg"></header>
        </a>

        <!-- <mat-card class="mat-card">
            <mat-card-header class="mat-card-header">
                <div class="mat-card-header-text">
                    <mat-card-title class="centered mat-card-title">
                        <h4>Get fast, secure and relevant results</h4>
                    </mat-card-title>
                    <mat-card-subtitle class="centered mat-card-subtitle">Integrates multiple APIs and data sources</mat-card-subtitle>
                </div>
            </mat-card-header>
            <mat-card-content class="mat-card-content">Search results through multiple sources. </mat-card-content>
        </mat-card> -->
    </section>
    <!-- <section class="section--center mdl-grid site-max-width">
        <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white  mdl-shadow--4dp"><img
                alt="" class="banner-small" src="../../../assets/images/Meridian.jpg"></header>
        <mat-card class="mat-card">
            <mat-card-header class="mat-card-header">
                <div class="mat-card-header-text">
                    <mat-card-title class="centered mat-card-title">
                        <h4>Free</h4>
                    </mat-card-title>
                    <mat-card-subtitle class="centered mat-card-subtitle">Open source</mat-card-subtitle>
                </div>
            </mat-card-header>
            <mat-card-content class="mat-card-content">
                This website is developed as an open source project and freely available.
            </mat-card-content>
        </mat-card>
    </section> -->
    <section class="section--center mdl-grid site-max-width homepage-portfolio">
        <a class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-button--accent" [routerLink]="['/products/find']">
            <img class="centered" src="../../../assets/images/get-started-button-03.png">
        </a>
    </section>
    <div class="homepage-footer">
        <section class="mdl-grid site-max-width">
            <mat-card class="footer-card mat-card">
                <mat-list>
                    <mat-list-item>
                        <mat-icon matListIcon>stars</mat-icon>
                        <p matLine> 
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="https://www.facebook.com/SearchProdGlobal">Facebook</a>
                        </p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListIcon>stars</mat-icon>
                        <p matLine> 
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="https://github.com/guilhebl/product-service">Github</a>
                        </p>
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </section>
    </div>
</div>