<a [routerLink]="['/products/detail', id]" [queryParams]="{source: sourceName, idType: idType}" >
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar>
                <img [src]="source" class="example-header-image">
            </div>
            <mat-card-title class="product-title">
                <h4>{{ title }}</h4>
            </mat-card-title>
            <mat-card-subtitle *ngIf="subtitle">{{ subtitle }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="priceSection">
                <span class="price-symbol">$</span>
                <span class="price">{{ price }}</span>
            </div>
        </mat-card-content>
        <img mat-card-image *ngIf="thumbnail" [src]="thumbnail" class="thumbnail-img">
    </mat-card>
</a>
