<mat-spinner [class.show]="loading" [diameter]="30" [strokeWidth]="3"></mat-spinner>
<mat-card *ngIf="!loading && productDetail">
  <mat-card-title-group>
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>
      {{ subtitle }}
      <div [innerHtml]="description"></div>
      <div class="priceSection">
        <a href="{{productDetail.product.sourceItemDetailViewUrl}}" target="blank"><mat-icon>attach_money</mat-icon></a>
        <span class="price">{{ price }}</span>
      </div>
    </mat-card-subtitle>

    <img [src]="source" class="img-logo" />
  </mat-card-title-group>
  <mat-card-content>

    <div class="product-container">
      <div class="product-section">
        <div class="img-container">            
            <a href="{{productDetail.product.sourceItemDetailViewUrl}}" target="blank">
                <img mat-card-image [src]="thumbnail" class="thumbnail-img">
            </a>            
        </div>
      </div>

      <div class="product-section">
        <div *ngIf="productDetail && productDetail.productDetailItems.length > 0">
          <mat-list>
            <h3 mat-subheader class="other-prices">Other options:</h3>
            <bc-product-preview *ngFor="let detailItem of productDetail.productDetailItems" [product]="detailItem"></bc-product-preview>
          </mat-list>
        </div>
      </div>
    </div>

  </mat-card-content>
  <mat-card-actions align="start">
    <a mat-raised-button color="primary" href="{{productDetail.product.sourceItemDetailViewUrl}}" target="blank">Buy</a>

    <button mat-raised-button color="warn" *ngIf="inCollection" (click)="remove.emit(productDetail.product)">
      Remove from Collection
    </button>
    <button mat-raised-button color="primary" *ngIf="!inCollection" (click)="add.emit(productDetail.product)">
      Add to Collection
    </button>
  </mat-card-actions>
  <div fxFlex></div>
  <mat-card-actions align="end">
    <button mat-raised-button color="back" (click)="back()">
      Back
    </button>
  </mat-card-actions>
</mat-card>